<a href="https://colab.research.google.com/github/pandeyankitg/DataScience/blob/main/Loops%20and%20Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loops and Iteration Practise Colab**

In [ ]:
x= [1,2,3,4,5]
for y in x:
  z= y**2
  print(z)

1
4
9
16
25

In [ ]:
x=[1,2,3,4,5,6]
for y in x:
  z=y**3
  print(z)

1
8
27
64
125
216

In [ ]:
a=[1,2,3,4,5]
for b in a:
   c= b**2
   print(c)

1
4
9
16
25

In [ ]:
b= [1,2,3,4,5]
for c in b:
  d=c**2
  print(d)

1
4
9
16
25

In [ ]:
c=[1,2,3,4,5]
for d in c:
  e= d**2
  print(e)

1
4
9
16
25

In [ ]:
d=[1,2,3,4,5]
for e in d:
  f=e**2
  print(f)

1
4
9
16
25

In [ ]:
e=[1,2,3,4,5]
for f in e:
   g=f**2
   print(g)

1
4
9
16
25

In [ ]:
f=[1,2,3,4,5]
for g in f:
  h= g**2
  print(h)

1
4
9
16
25

In [ ]:
g= [1,2,3,4,5]
for h in g:
  i=h**2
  print(i)

1
4
9
16
25

In [ ]:
h=[1,2,3,4,5]
for i in h:
  j= i**2
  print(j)

1
4
9
16
25

In [ ]:
i=[1,2,3,4,5]
for j in i:
  k=j**2
  print(k)

1
4
9
16
25

In [ ]:
j=[1,2,3,4,5]
for k in j:
  l=k**2
  print(l)

1
4
9
16
25

In [ ]:
k=[1,2,3,4,5]
for l in k:
  m=l**2
  print(m)

1
4
9
16
25

In [ ]:
l= [1,2,3,4,5]
for m in l:
  n=m**2
  print(n)

1
4
9
16
25

In [ ]:
m=[1,2,3,4,5]
for n in m:
  o=n**2
  print(o)

1
4
9
16
25

In [ ]:
n=[1,2,3,4,5]
for o in n:
  p=o**2
  print(p)

1
4
9
16
25

In [ ]:
o=[1,2,3,4,5]
for p in o:
  q= p**2
  print(q)

1
4
9
16
25

In [ ]:
p=[1,2,3,4,5]
for q in p:
  r= q**2
  print(r)

1
4
9
16
25

In [ ]:
q=[1,2,3,4,5]
for r in q:
  s=r**2
  print(s)

1
4
9
16
25

In [ ]:
r=[1,2,3,4,5]
for s in r:
  t= s**2
  print(t)

1
4
9
16
25

In [ ]:
s=[1,2,3,4,5]
for t in s:
  u=t**2
  print(u)

1
4
9
16
25

In [ ]:
t=[1,2,3,4,5]
for u in t:
  v= u**2
  print(v)

1
4
9
16
25

In [ ]:
u=[1,2,3,4,5]
for v in u:
  w= v**2
  print(w)

1
4
9
16
25

In [ ]:
v=[1,2,3,4,5]
for w in v:
  x= w**2
  print(x)

1
4
9
16
25

In [ ]:
w=[1,2,3,4,5]
for x in w:
  y=x**2
  print(y)

1
4
9
16
25

In [ ]:
x=[1,2,3,4,5]
for y in x:
  z=y**2
  print(z)

1
4
9
16
25

In [ ]:
y=[1,2,3,4,5]
for z in y:
  a= z**2
  print(a)

1
4
9
16
25

In [ ]:
z=[1,2,3,4,5]
for a in z:
  b=a**2
  print(b)

1
4
9
16
25

In [ ]:
Pandey_house= ['Rachna', 'Rohit','Neha', 'Ankit', 'Atul']
for first in Pandey_house:
 print(f"{first} Pandey")

Rachna Pandey
Rohit Pandey
Neha Pandey
Ankit Pandey
Atul Pandey

In [ ]:
Friends_List= ['Shivam','Yash','Prashant','Chirag']
for full_name in Friends_List:
  print(f"Engineer {full_name}")

Engineer Shivam
Engineer Yash
Engineer Prashant
Engineer Chirag

In [ ]:
Model_name= ['Dzire', 'Baleno', 'Ertiga', 'SX4', 'Breeza']
for full_name in Model_name:
  print(f"Maruti Suzuki {full_name}")

Maruti Suzuki Dzire
Maruti Suzuki Baleno
Maruti Suzuki Ertiga
Maruti Suzuki SX4
Maruti Suzuki Breeza

In [ ]:
first_name= ['Parwati', 'Neeta','Kalpana', 'Akanksha', 'Neha']
for full_name in first_name:
  print(f"{full_name} Pandey")

Parwati Pandey
Neeta Pandey
Kalpana Pandey
Akanksha Pandey
Neha Pandey

In [ ]:
got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']
for full_name in got_houses:
  print(f"House {full_name}")

House Stark
House Arryn
House Baratheon
House Tully
House Greyjoy
House Lannister
House Tyrell
House Martell
House Targaryen

In [ ]:
#Now we can right the house names in reverse order by:
for full_name2 in got_houses[::-1]:
  print(f"House {full_name2}")

House Targaryen
House Martell
House Tyrell
House Lannister
House Greyjoy
House Tully
House Baratheon
House Arryn
House Stark

In [ ]:
# Using enumerate function to loop through the elements of a list
got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']
for number,house in enumerate(got_houses):
 print(f"The house no of house {house} is {number+1}")

The house no of house Stark is 1
The house no of house Arryn is 2
The house no of house Baratheon is 3
The house no of house Tully is 4
The house no of house Greyjoy is 5
The house no of house Lannister is 6
The house no of house Tyrell is 7
The house no of house Martell is 8
The house no of house Targaryen is 9

In [ ]:
Family_list= ['Dadi','Papa', 'Maa','Chacha', 'Chachi', 'Bhai','Bhabhi', 'bahan']
for number,member in enumerate(Family_list):
  print(f"The member no of {member} is {number+1}")

The member no of Dadi is 1
The member no of Papa is 2
The member no of Maa is 3
The member no of Chacha is 4
The member no of Chachi is 5
The member no of Bhai is 6
The member no of Bhabhi is 7
The member no of bahan is 8

In [ ]:
State_list=['RJ','MP','MH', 'UP', 'GJ']
for number,state in enumerate(State_list):
 print(f"The Rank of {state}, area wise, is {number+1}")

The Rank of RJ, area wise, is 1
The Rank of MP, area wise, is 2
The Rank of MH, area wise, is 3
The Rank of UP, area wise, is 4
The Rank of GJ, area wise, is 5

In [3]:
Country_list=['Russis','China', 'USA', 'Canada', 'Brazil']
for number,country in enumerate(Country_list):
 print(f"The rank of {country}, area wise, is {number+1}")

The rank of Russis, area wise, is 1
The rank of China, area wise, is 2
The rank of USA, area wise, is 3
The rank of Canada, area wise, is 4
The rank of Brazil, area wise, is 5

In [5]:
Country_list_pop= ['India', 'China', 'US','Indonesia','Pakistan','Brazil']
for number,country in enumerate(Country_list_pop):
   print(f"The rank of {country}, population wise, is {number+1}")

The rank of India, population wise, is 1
The rank of China, population wise, is 2
The rank of US, population wise, is 3
The rank of Indonesia, population wise, is 4
The rank of Pakistan, population wise, is 5
The rank of Brazil, population wise, is 6